body {
    background-color: #000000e2;

}

a {
    color: white;
    text-decoration: none;

}

.logo {
    display: flex;
    justify-content: center;
    margin: auto;
}

.logo img {
    top: 0px;
    right: 0px;
    width: 120px;
    height: 120px;
    border-radius: 150px;
}

.foot {
    background-color: rgb(94, 91, 91);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 1px 2px;
    border-radius: 50px;
    color: white;
    margin: 3px;
}

footer.foot {
    margin-top: 40px;
}

.navig {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.navig li {
    list-style-type: none;
}

.navig li a {
    background-color: #8c9e92;
    color: #ffffff;
    display: inline-block;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    font-weight: bold;
}

.art-form {
    width: 50%;
    height: 37px;
    display: flex;
    justify-content: flex-end;
    margin: 0px 30px 10px 0px;
}

.contenedor-form {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}



.titulopadre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divpadrecanc {
    display: flex;
    background-color: rgba(49, 47, 47, 0.366);
    color: white;
    border: 3px rgba(236, 234, 231, 0.934) solid;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
}

.cancionestit {
    display: flex;
    background-color: black;
    color: white;
    border: 3px rgba(243, 241, 238, 0.934) solid;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.generostit {
    display: flex;
    background-color: black;
    color: white;
    border: 3px rgba(243, 241, 238, 0.934) solid;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    flex-wrap: wrap;

}


.divpadregenres {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(49, 47, 47, 0.366);
    color: white;
    border: 3px rgba(236, 234, 231, 0.934) solid;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;


}


.divpadregenres article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.divpadregenres article a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contdiscos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}


.divpadredisc {
    display: flex;
    background-color: rgba(49, 47, 47, 0.366);
    color: white;
    border: 3px rgba(236, 234, 231, 0.934) solid;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;

}



.divpadreart {
    display: flex;
    background-color: rgba(49, 47, 47, 0.366);
    color: white;
    border: 3px rgba(236, 234, 231, 0.934) solid;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
}

.divpadreart article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.divpadreart article a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divpadredisc article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.divpadredisc article a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divpadrecanc article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.divpadrecanc article a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maindetallealbum {
    text-align: center;
}



.maindetallecantante {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.mainplaylist{
    text-align: center;
}

.sectiondetallealbum {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}



.detallealbumpadre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.divcancionesalbum {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.artdetallecancionpadre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.divartcancion {
    display: flex;
    background-color: rgba(126, 126, 126, 0.5);
    width: 80vw;
    border: 3px rgba(243, 241, 238, 0.934) solid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contfav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
}

.contfav2 {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 380px;
    background-color: rgba(126, 126, 126, 0.5);
    align-items: center;
    border: 3px rgba(243, 241, 238, 0.934) solid;
}

.favorito {
    text-decoration: none;
    margin-top: 20px;
    width: 20px;
    margin-right: 10px;
}

.artistastit {
    display: flex;
    background-color: black;
    color: white;
    border: 3px rgba(243, 241, 238, 0.934) solid;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.albumestit {
    display: flex;
    background-color: black;
    color: white;
    border: 3px rgba(243, 241, 238, 0.934) solid;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

h4 {
    color: white;
}

.titulosearch {
    background-color: #8c9e92;
    color: #ffffff;
    display: inline-block;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    border-radius: 10px;

}

.detallecancion {
    background-color: black;
    color: white;
    border: 3px rgba(243, 241, 238, 0.934) solid;
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
}

.secciones {
    border-color: white;
    background-color: rgba(128, 128, 128, 0.084);
}

.generolista {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(49, 47, 47, 0.366);
    color: white;
    border: 3px rgba(236, 234, 231, 0.934) solid;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    flex-direction: row;
}

.generolista article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.generolista article a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 .artistagenero {
    display: flex;
    justify-content: center;
}

.generolist {
    display: flex;
    width: 400px;
    padding: 20px;
    background-color: rgba(49, 47, 47, 0.366);
    color: white;
    border: 3px rgba(236, 234, 231, 0.934) solid;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.generolist article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.generolist article a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button.fav {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px 20px;
    background-color: #8c9e92;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.song {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

input#textoBuscado {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button.buttonart {
    background-color: #8c9e92;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.detailtrack {
    text-align: center;
}

.maingenero {
    text-align: center;
}

.results {
    color: white;
    text-align: center;
    
}

.resultscanciones {
    background-color: rgba(49, 47, 47, 0.366);
    color: white;
    border: 3px rgba(236, 234, 231, 0.934) solid;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.resultsartista {
    background-color: rgba(49, 47, 47, 0.366);
    color: white;
    border: 3px rgba(236, 234, 231, 0.934) solid;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.resultsalbum {
    background-color: rgba(49, 47, 47, 0.366);
    color: white;
    border: 3px rgba(236, 234, 231, 0.934) solid;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.botonOscuro{
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
    background-color: #19066d;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}


.btn-playlist {
    padding: 10px 20px;
    background-color: #65a9a9;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.fav {
    padding: 10px 20px;
}

.detalleartista{
    display: flex;
    background-color: rgba(49, 47, 47, 0.366);
    color: white;
    border: 3px rgba(236, 234, 231, 0.934) solid;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
}

.results h2{
    background-color: #8c9e92;
    color: #ffffff;
    border-radius: 5px;
    padding: 3px;
}


@media(min-width: 390px){
    .art-form{
        width: 50vh
    }

    .navig{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    
    .secciones{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .divpadrecanc{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .divpadredisc{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .divpadreart{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .divpadregenres{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .generolista{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .generolist{
        display: flex;
        flex-direction: column;
        align-items: center;
    }}