body {
    background-color: grey;
    color: black;

}

a{
    color: white;
    text-decoration: none;

}
.logo {
    display: flex;
    justify-content: center;
    margin: auto;
}

.logo img {
    top: 0px;
    right: 0px;
    width: 120px;
    height: 120px;
    border-radius: 150px;
}

.foot {
    background-color: rgb(15, 15, 15);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    padding: 1px 2px;
    border-radius: 50px;
    color: white;
}

.navig {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.navig li {
    list-style-type: none;
}

.navig li a {
    background-color: rgb(186, 176, 176);
    display: inline-block;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
}

.art-form {
    width: 50%;
    height: 37px;
    display: flex;
    justify-content: flex-end;
    margin: 0px 30px 10px 0px;
}

.contenedor-form {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.buttonart {
    background-color: white;
    height: 37px;
}

.titulopadre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divpadrecanc {
    display: flex;
    background-color: rgba(0, 0, 0, 0.366);
    color: white;
    border: 3px rgba(64, 62, 59, 0.934) solid;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
}

.cancionestit{
    display: flex;
    background-color: black;
    color: white;
    border: 3px rgba(243, 241, 238, 0.934) solid;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.generostit{
    display: flex;
    background-color: black;
    color: white;
    border: 3px rgba(243, 241, 238, 0.934) solid;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    flex-wrap: wrap;
    
}

    
.divpadregenres{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.366);
    color: white;
    border: 3px rgba(64, 62, 59, 0.934) solid;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content:space-between;
    flex-direction: row;
     flex-wrap: wrap;
  

}


.divpadregenres article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.divpadregenres article a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contdiscos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}


.divpadredisc {
    display: flex;
    background-color: rgba(0, 0, 0, 0.366);
    color: white;
    border: 3px rgba(64, 62, 59, 0.934) solid;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;

}



.divpadreart {
    display: flex;
    background-color: rgba(0, 0, 0, 0.366);
    color: white;
    border: 3px rgba(64, 62, 59, 0.934) solid;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
}

.divpadreart article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.divpadreart article a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divpadredisc article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.divpadredisc article a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divpadrecanc article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.divpadrecanc article a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.maindetallealbum {
    display: flex;
    flex-direction: column;
}

.sectiondetallealbum {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}



.detallealbumpadre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.divcancionesalbum{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.artdetallecancionpadre{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.divartcancion{
    display: flex;
    background-color: rgba(126, 126, 126, 0.5);
    width: 80vw;
    border: 3px rgba(243, 241, 238, 0.934) solid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contfav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
}

.contfav2{
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 380px;
    background-color: rgba(126, 126, 126, 0.5);
    align-items: center;
    border: 3px rgba(243, 241, 238, 0.934) solid;
}

.favorito{
    text-decoration: none;
    margin-top: 20px;
    width: 20px;
    margin-right: 10px;
}

.artistastit{
    display: flex;
    background-color: black;
    color: white;
    border: 3px rgba(243, 241, 238, 0.934) solid;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.albumestit{
    display: flex;
    background-color: black;
    color: white;
    border: 3px rgba(243, 241, 238, 0.934) solid;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

h1{
    color: white;
}
h2{
    color: white;
}

h3{
    color: white;
}

h4{
    color: white;
}

.titulosearch{
    background-color: rgba(0, 0, 0, 0.366);
    border: 3px rgba(243, 241, 238, 0.934) solid;
    display: inline-block;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    
}

.detallecancion{
    background-color: rgba(0, 0, 0, 0.366);
    display: inline-block;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    border: 3px rgba(243, 241, 238, 0.934) solid;
}

.secciones{
    border-color: white;
    background-color: rgba(128, 128, 128, 0.084);
}
